
[Desktop Entry]
Type=Application
Name=MTP-Lastfm
Exec=/usr/bin/mtp-lastfm -e
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=false
Icon=/usr/share/mtp-lastfm/glade/mtp-lastfm.png
