<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>MTP-Lastfm</title> 
<link rel="stylesheet" href="/css/groovyblue/style.css" type="text/css" /> 
</head> 
<body> 
<div id="wrapper"> 
  <div id="header"> 
    <div id="navigation"> 
      <ul> 
        <li><a href="/">Home</a></li> 
        <li><a href="/device/all">Compatibility</a></li> 
        <li><a href="/install">Install</a></li>
        <li><a href="/screenshots">Screenshots</a></li>
        <li><a href="/contact">Contact</a></li> 
      </ul> 
    </div> 
    <a href="/"><h1>MTP-Lastfm</h1></a>
  </div> 
  <div id="content">  