{% include "header.html" %}
<h1>List of compatible devices</h1>
<p><img src="/images/tick.png" /><span class="tweakup"> Device is compatible.</span><br />
<img src="/images/cross.png" /><span class="tweakup"> All users have marked
device as incompatible.</span><br />
<img src="/images/question.png" /><span class="tweakup"> Uncertain
(works for some people).</span><br />    
{% for man in devices.items %}
    <table class='rounded-corner'>
    <thead class='rounded-corner'><tr><th class='rounded-left' colspan=3>{{man.0}}
    </th><th class='rounded-right'></th></tr></thead>
    <tfoot class='rounded-corner'><tr><td class='rounded-foot-left' colspan=3>
    </th><td class='rounded-foot-right'></th></tr></tfoot>
    {% for d in man.1 %}
        <tr><td>
        {% ifequal d.not_working_count 0 %}
            <img src="/images/tick.png"></td>
            <td><a href="{{d.manufacturer}}/{{d.model}}">{{d.model}}</a></td><td>
            {{d.user_count}} user{{d.user_count|pluralize}}.
        {% else %}
            <img src="/images/{% ifequal d.not_working_count d.user_count %}cross.png{% else %}question.png
            {% endifequal %}"></td><td><a href="{{d.manufacturer}}/{{d.model}}">{{d.model}}</a></td><td class="shrinkcolumn">
            {{d.user_count}} user{{d.user_count|pluralize}}. 
            {{d.not_working_count|percentage:d.user_count}} marked device as incompatible.
        {% endifequal %}
        </td><td>
    {% ifnotequal d.comment_count 0 %}
        <a href="{{d.manufacturer}}/{{d.model}}">
            {{d.comment_count}} comment{% ifnotequal d.comment_count 1%}s{% endifnotequal %}
        </a>
    {% endifnotequal %}
    </td></a></tr>
    {% endfor %}
    </table>
{% endfor %}
{% include "footer.html" %}